/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #333;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}

link {
     color: #fff;
     textDecoration: none;
     fontSize: 30px;
}

.logout-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
